
*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    
    border:  black;
    height: 350px;
    width: 350px;
    position: absolute;
    
    top: 30%;
    left: 35%;
}
.logo{
    position: absolute;
    
    background-color: #b20510;
    height :230px;
    width:55px;
    left:80px;
    top:60px;
}
.logo::before{
    content:'';
    position: absolute;
    background-color: #b20510;
    height:230px;
    width:55px;
    left: 130px;
}
.logo::after{
    content:'';
    position: absolute;
    background-color: #e30913;
    height: 300px;
    width: 55px;
    transform: rotate(-28deg);
    left: 62px;
    bottom: -31px;
}
.boxes{
    background :black;
    height: 60px;
    width: 100%;
    position:absolute;
    box-shadow: #b20510;
}
.boxes:before{
    content:'';
    position: absolute;
    background-color:black;
    height: 60px;
    width:220px;
    top:260px;
    left: 60px;
    border-radius: 50%;

}
p{
   text-align: center;
   font-size: larger;
   text-decoration-color:white ;
}